KIBANA_SYSTEM_PASSWORD=Bx9nK4mQ7wR2sL5p

ELASTIC_PASSWORD=Mx7nQ4wR8vK2sL9p
ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
ELASTICSEARCH_USERNAME=kibana_system
ELASTICSEARCH_PASSWORD=Bx9nK4mQ7wR2sL5p

KIBANA_HOST=0.0.0.0
KIBANA_PORT=5601
SERVER_NAME=initstack-kibana
SERVER_PUBLICBASEURL=http://localhost:5601

XPACK_SECURITY_ENABLED=true
XPACK_SECURITY_ENCRYPTIONKEY=Zx4vB9nK2mQ8wE5rTy6uI3oP1aS7dF0g
XPACK_REPORTING_ENCRYPTIONKEY=Hj6kN4mB8vC1sF7qLp9rE2wT5yU8iO3a
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=Qw8rT5nM3xZ9pL2vCx6bV1nA4sD7fG0j

LOGGING_LEVEL=info
NODE_OPTIONS=--max-old-space-size=1024
