POSTGRES_PASSWORD=8sualcmrsG19moEU
JWT_SECRET=wls91EKilM3q3dRLlFSNdIrWTgmhsUS34Js4mxrV
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY2MDgyNjAwLCJleHAiOjE5MjM4NDkwMDB9.1ykkqR_lyZiBdjycdY0g7CAPf2LlFFhXEss4yQfIhmk
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjYwODI2MDAsImV4cCI6MTkyMzg0OTAwMH0.7St5NMvH3gPnbvIl6kqTG56n3YOLqng7AhzHP7kTRDU

DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=C2y9V0p4bvObe5wi

SECRET_KEY_BASE=UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq
VAULT_ENC_KEY=a32ff36867fe980f6944e24000cf1fb5
PG_META_CRYPTO_KEY=172911bafe1a84ef73aa141079378df6

POSTGRES_HOST=initstack-supabase-db-service
POSTGRES_DB=postgres
POSTGRES_PORT=5432

POSTGRES_AUTHENTICATOR_PASSWORD=JHScOTB1cRhJi0cZ
POSTGRES_PGBOUNCER_PASSWORD=kqee3ExelDZMZ2i5
POSTGRES_SUPABASE_AUTH_ADMIN_PASSWORD=gbAd1fSuFVhd3Znx
POSTGRES_SUPABASE_FUNCTIONS_ADMIN_PASSWORD=SOsQbAvBnsbWtUgI
POSTGRES_SUPABASE_STORAGE_ADMIN_PASSWORD=XaGxz0g5z9YrhdiO

POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=initstack-tenant
POOLER_DB_POOL_SIZE=5

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443
PGRST_DB_SCHEMAS=public,storage,graphql_public

SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
API_EXTERNAL_URL=http://localhost:8000

JWT_EXPIRY=3600
DISABLE_SIGNUP=false

MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
ENABLE_ANONYMOUS_USERS=false
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true

SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=initstack-supabase-smtp-service
SMTP_PORT=2500
SMTP_USER=A4N2hB7rT0SyWQGz
SMTP_PASS=iKTQtle7PrbdPBqP
SMTP_SENDER_NAME=InitStack

STUDIO_DEFAULT_ORGANIZATION=Individual
STUDIO_DEFAULT_PROJECT=InitStack
SUPABASE_PUBLIC_URL=http://localhost:8000

IMGPROXY_ENABLE_WEBP_DETECTION=true

OPENAI_API_KEY=
FUNCTIONS_VERIFY_JWT=false

LOGFLARE_PUBLIC_ACCESS_TOKEN=81667740da3ec1268c42530d9c811339f6227a2a5066e0816ffec91f6c82aabd32fda666eac78f338696b4477758ff27ac58e26b9d4b8fc60134f1c5fa2f5c69
LOGFLARE_PRIVATE_ACCESS_TOKEN=49153cdab344d92fe0b8b1eb03d09719215619158a1e69b32381acc4ce473271478668bcd90e7b675b5d00c294de5bf63830306e3d4c349e62c6cce96f5b6c96

DOCKER_SOCKET_LOCATION=/var/run/docker.sock

GOOGLE_PROJECT_ID=
GOOGLE_PROJECT_NUMBER=
