LOGFLARE_NODE_HOST=127.0.0.1
DB_USERNAME=supabase_admin
DB_DATABASE=_supabase
DB_HOSTNAME=${POSTGRES_HOST}
DB_PORT=${POSTGRES_PORT}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_SCHEMA=_analytics
LOGFLARE_PUBLIC_ACCESS_TOKEN=${LOGFLARE_PUBLIC_ACCESS_TOKEN}
LOGFLARE_PRIVATE_ACCESS_TOKEN=${LOGFLARE_PRIVATE_ACCESS_TOKEN}
LOGFLARE_SINGLE_TENANT=true
LOGFLARE_SUPABASE_MODE=true
POSTGRES_BACKEND_URL=postgresql://supabase_admin:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/_supabase
POSTGRES_BACKEND_SCHEMA=_analytics
LOGFLARE_FEATURE_FLAG_OVERRIDE=multibackend=true
