JWT_SECRET=${JWT_SECRET}

SUPABASE_URL=http://initstack-supabase-kong-service:8000
SUPABASE_ANON_KEY=${ANON_KEY}
SUPABASE_SERVICE_ROLE_KEY=${SERVICE_ROLE_KEY}
SUPABASE_DB_URL=postgresql://postgres:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

VERIFY_JWT=${FUNCTIONS_VERIFY_JWT}
