ANON_KEY=${ANON_KEY}
SERVICE_KEY=${SERVICE_ROLE_KEY}
POSTGREST_URL=http://initstack-supabase-postgrest-service:3000
PGRST_JWT_SECRET=${JWT_SECRET}
DATABASE_URL=postgres://supabase_storage_admin:${POSTGRES_SUPABASE_STORAGE_ADMIN_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
REQUEST_ALLOW_X_FORWARDED_PATH=true
FILE_SIZE_LIMIT=52428800
STORAGE_BACKEND=file
FILE_STORAGE_BACKEND_PATH=/var/lib/storage
TENANT_ID=stub
REGION=stub
GLOBAL_S3_BUCKET=stub
ENABLE_IMAGE_TRANSFORMATION=true
IMGPROXY_URL=http://initstack-supabase-imgproxy-service:5001
