PORT=4000
POSTGRES_PORT=${POSTGRES_PORT}
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_URL=ecto://supabase_admin:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/_supabase
CLUSTER_POSTGRES=true
SECRET_KEY_BASE=${SECRET_KEY_BASE}
VAULT_ENC_KEY=${VAULT_ENC_KEY}
API_JWT_SECRET=${JWT_SECRET}
METRICS_JWT_SECRET=${JWT_SECRET}
REGION=local
ERL_AFLAGS=-proto_dist inet_tcp
POOLER_TENANT_ID=${POOLER_TENANT_ID}
POOLER_DEFAULT_POOL_SIZE=${POOLER_DEFAULT_POOL_SIZE}
POOLER_MAX_CLIENT_CONN=${POOLER_MAX_CLIENT_CONN}
POOLER_POOL_MODE=transaction
DB_POOL_SIZE=${POOLER_DB_POOL_SIZE}
