CONSUL_DATACENTER=dc1
CONSUL_NODE_NAME=initstack-consul-node
CONSUL_BIND_ADDR=0.0.0.0
CONSUL_CLIENT_ADDR=0.0.0.0
CONSUL_HTTP_PORT=8500
CONSUL_DNS_PORT=8600
CONSUL_SERF_LAN_PORT=8301
CONSUL_SERF_WAN_PORT=8302
CONSUL_SERVER_PORT=8300
CONSUL_GRPC_PORT=8502
CONSUL_GRPC_TLS_PORT=8503
CONSUL_BOOTSTRAP_EXPECT=1
CONSUL_UI_ENABLED=true
CONSUL_LOG_LEVEL=INFO
CONSUL_LOG_JSON=true
CONSUL_ENABLE_SYSLOG=false
CONSUL_SYSLOG_FACILITY=LOCAL0
CONSUL_DISABLE_HOST_NODE_ID=false
CONSUL_DISABLE_UPDATE_CHECK=true
CONSUL_ENABLE_SCRIPT_CHECKS=false
CONSUL_ENABLE_LOCAL_SCRIPT_CHECKS=false
CONSUL_CONNECT_ENABLED=true
CONSUL_PORTS_GRPC=8502
CONSUL_PORTS_GRPC_TLS=8503
CONSUL_ACL_ENABLED=true
CONSUL_ACL_DEFAULT_POLICY=allow
CONSUL_ACL_ENABLE_TOKEN_PERSISTENCE=true
CONSUL_ACL_MASTER_TOKEN=Mx7nQ4wR8vK2sL9p
CONSUL_ACL_AGENT_TOKEN=Bv3cX8nM1qW6eR9t
CONSUL_ACL_AGENT_MASTER_TOKEN=Kx9mP2nQ7wR5tY8u
CONSUL_ENCRYPT_KEY=Zx4vB9nK2mQ8wE5rTy6uI3oP1aS7dF0g
CONSUL_TLS_ENABLED=false
CONSUL_TLS_VERIFY_INCOMING=false
CONSUL_TLS_VERIFY_OUTGOING=false
CONSUL_TLS_VERIFY_SERVER_HOSTNAME=false
CONSUL_CA_FILE=/consul/config/certs/ca.pem
CONSUL_CERT_FILE=/consul/config/certs/consul.pem
CONSUL_KEY_FILE=/consul/config/certs/consul-key.pem
CONSUL_PERFORMANCE_RAFT_MULTIPLIER=1
CONSUL_LEAVE_ON_TERMINATE=true
CONSUL_SKIP_LEAVE_ON_INTERRUPT=false
CONSUL_REJOIN_AFTER_LEAVE=true
CONSUL_ENABLE_DEBUG=false
CONSUL_DISABLE_ANONYMOUS_SIGNATURE=true
CONSUL_DISABLE_REMOTE_EXEC=true
CONSUL_TELEMETRY_ENABLED=true
CONSUL_TELEMETRY_PROMETHEUS_RETENTION_TIME=60s
CONSUL_TELEMETRY_DISABLE_HOSTNAME=false
CONSUL_TELEMETRY_STATSD_ADDRESS=
CONSUL_TELEMETRY_STATSITE_ADDRESS=
CONSUL_TELEMETRY_DOGSTATSD_ADDR=
CONSUL_TELEMETRY_DOGSTATSD_TAGS=
CONSUL_TELEMETRY_CIRCONUS_API_TOKEN=
CONSUL_TELEMETRY_CIRCONUS_API_APP=
CONSUL_TELEMETRY_CIRCONUS_API_URL=
CONSUL_TELEMETRY_CIRCONUS_SUBMISSION_INTERVAL=10s
CONSUL_TELEMETRY_CIRCONUS_SUBMISSION_URL=
CONSUL_TELEMETRY_CIRCONUS_CHECK_ID=
CONSUL_TELEMETRY_CIRCONUS_CHECK_FORCE_METRIC_ACTIVATION=false
CONSUL_TELEMETRY_CIRCONUS_CHECK_INSTANCE_ID=
CONSUL_TELEMETRY_CIRCONUS_CHECK_SEARCH_TAG=
CONSUL_TELEMETRY_CIRCONUS_CHECK_DISPLAY_NAME=
CONSUL_TELEMETRY_CIRCONUS_CHECK_TAGS=
CONSUL_TELEMETRY_CIRCONUS_BROKER_ID=
CONSUL_TELEMETRY_CIRCONUS_BROKER_SELECT_TAG=
CONSUL_AUTOPILOT_CLEANUP_DEAD_SERVERS=true
CONSUL_AUTOPILOT_LAST_CONTACT_THRESHOLD=200ms
CONSUL_AUTOPILOT_MAX_TRAILING_LOGS=250
CONSUL_AUTOPILOT_SERVER_STABILIZATION_TIME=10s
CONSUL_AUTOPILOT_REDUNDANCY_ZONE_TAG=
CONSUL_AUTOPILOT_DISABLE_UPGRADE_MIGRATION=false
CONSUL_AUTOPILOT_UPGRADE_VERSION_TAG=
CONSUL_HOST=0.0.0.0
CONSUL_PORT=8500
