.editorconfig
.gitattributes

.git
.github
.gitignore
.gitlab-ci.yml

.travis.yml
.readthedocs.yml
.pre-commit-config.yaml

.idea
.vscode/

.venv
venv
.Python

.envs/
*.env

__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/

.ruff_cache/
.mypy_cache/
.cache/

build/
dist/
*.egg-info/
pip-wheel-metadata/

*.log
logs/
tmp/
temp/

*.sqlite3

node_modules/
.parcel-cache/
.next/
.nuxt/
.vite/
.turbo/
out/

.DS_Store
Thumbs.db
