# EditorConfig Settings
root = true

# Default Settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python Files
[*.{py,rst,ini}]
indent_style = space
indent_size = 4

# Web Files
[*.{html,css,scss,json,yml,yaml,xml,toml}]
indent_style = space
indent_size = 4

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Build Files
[Makefile,makefile]
indent_style = space
indent_size = 4

# Configuration Files
[default.conf]
indent_style = space
indent_size = 4
