APP_NAME=InitStack FastAPI Development Server
APP_VERSION=0.1.0
APP_DESCRIPTION=Professional FastAPI Server For Development.
APP_CONTACT_NAME=Rohit Vilas Ingole
APP_CONTACT_EMAIL=rohit.vilas.ingole@gmail.com
APP_LICENSE_NAME=MIT
APP_LICENSE_URL=https://github.com/DataRohit/InitStack/blob/master/license

DEBUG=true
ENVIRONMENT=development

HOST=0.0.0.0
PORT=8000
RELOAD=true

CORS_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["GET","POST","PUT","DELETE","OPTIONS","PATCH"]
CORS_ALLOW_HEADERS=["*"]

LOG_LEVEL=DEBUG
LOG_FORMAT=json

WORKERS=1

PROXY_HEADERS_ENABLED=false
PROXY_HEADERS_TRUSTED_HOSTS=["*"]

MAX_REQUEST_SIZE=16777216
MAX_UPLOAD_SIZE=104857600
