# Git Attributes
* text=auto

# Binary Files
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.tar binary
*.gz binary
*.ttf binary
*.woff binary
*.woff2 binary

# Text Files
*.css text
*.html text
*.js text
*.json text
*.md text
*.py text
*.scss text
*.sh text eol=lf
*.toml text
*.txt text
*.xml text
*.yaml text
*.yml text

# Git Config Files
.gitattributes text
.gitignore text
.gitconfig text
