METRICBEAT_NAME=initstack-sonarqube-metricbeat
METRICBEAT_HOST=initstack-sonarqube-metricbeat-service
METRICBEAT_TAGS=sonarqube,codeanalysis,monitoring,initstack
METRICBEAT_FIELDS_ENVIRONMENT=development
METRICBEAT_FIELDS_SERVICE=sonarqube
METRICBEAT_FIELDS_DATACENTER=dc1
ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=Mx7nQ4wR8vK2sL9p
KIBANA_HOST=http://initstack-kibana-service:5601
SONARQUBE_HOST=initstack-sonarqube-service
SONARQUBE_PORT=9000
METRICBEAT_PERIOD=30s
METRICBEAT_LOG_LEVEL=info
METRICBEAT_MONITORING_ENABLED=true
METRICBEAT_HTTP_ENABLED=true
METRICBEAT_HTTP_HOST=0.0.0.0
METRICBEAT_HTTP_PORT=5073
