METRICBEAT_NAME=initstack-kibana-metricbeat
METRICBEAT_HOST=initstack-kibana-metricbeat-service
METRICBEAT_TAGS=kibana,visualization,monitoring,initstack

METRICBEAT_FIELDS_ENVIRONMENT=development
METRICBEAT_FIELDS_SERVICE=kibana
METRICBEAT_FIELDS_DATACENTER=dc1

ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=Mx7nQ4wR8vK2sL9p

KIBANA_HOST=http://initstack-kibana-service:5601

KIBANA_MONITOR_HOST=initstack-kibana-service
KIBANA_MONITOR_PORT=5601
KIBANA_MONITOR_USERNAME=kibana_system
KIBANA_MONITOR_PASSWORD=Bx9nK4mQ7wR2sL5p

METRICBEAT_PERIOD=30s
METRICBEAT_LOG_LEVEL=info
METRICBEAT_MONITORING_ENABLED=true

METRICBEAT_HTTP_ENABLED=true
METRICBEAT_HTTP_HOST=0.0.0.0
METRICBEAT_HTTP_PORT=5072
