CELERY_BROKER_URL=amqp://Qw8rT5nM3xZ9pL2v:Hj6kN4mB8vC1sF7q@initstack-rabbitmq-service:5672/initstack_vhost
CELERY_RESULT_BACKEND=elasticsearch://elastic:Mx7nQ4wR8vK2sL9p@initstack-elasticsearch-service:9200

CELERY_BEAT_SCHEDULER=celery.beat:PersistentScheduler
CELERY_BEAT_SCHEDULE_FILENAME=/var/lib/celery/celerybeat-schedule
CELERY_BEAT_LOG_LEVEL=INFO

CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_ACCEPT_CONTENT=["json"]
CELERY_TIMEZONE=UTC
CELERY_ENABLE_UTC=true

ELASTICSEARCH_INDEX_PREFIX=celery
ELASTICSEARCH_DOC_TYPE=_doc
