REDIS_PASSWORD=Kx9mP2nQ7wR5tY8u
REDIS_USER=z2yju1mD0GQxgV6Z
REDIS_USER_PASSWORD=Bv3cX8nM1qW6eR9t
REDIS_DATABASES=16
REDIS_MAXMEMORY=512mb
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_SAVE_INTERVAL=900 1
REDIS_LOG_LEVEL=notice
REDIS_TCP_KEEPALIVE=300
REDIS_TIMEOUT=0
