HAPROXY_STATS_PORT=8404
HAPROXY_STATS_USER=admin
HAPROXY_STATS_PASSWORD=Zx7kP9mN3qW8rT5yHj2vB6nC4sF1dG8a

HAPROXY_API_GATEWAY_PORT=8000

HAPROXY_FASTAPI_BACKEND=initstack-fastapi-service:8080
HAPROXY_MINIO_BACKEND=initstack-minio-service:9000

HAPROXY_MAX_CONNECTIONS=4096
HAPROXY_TIMEOUT_CONNECT=5000
HAPROXY_TIMEOUT_CLIENT=50000
HAPROXY_TIMEOUT_SERVER=50000
