MAILPIT_SMTP_AUTH_ACCEPT_ANY=1
MAILPIT_SMTP_AUTH_ALLOW_INSECURE=1
MAILPIT_MAX_MESSAGES=500

MAILPIT_UI_BIND_ADDR=0.0.0.0:8025
MAILPIT_SMTP_BIND_ADDR=0.0.0.0:1025

MAILPIT_SMTP_TLS_CERT=
MAILPIT_SMTP_TLS_KEY=

MAILPIT_WEBROOT=/
