DATA_SOURCE_URI=initstack-postgres-service:5432/postgres?sslmode=disable
DATA_SOURCE_USER=Kx9mP2nQ7vR8sT4w
DATA_SOURCE_PASS=Zy3kL6mN9pQ2rS5v
PG_EXPORTER_WEB_TELEMETRY_PATH=/metrics
PG_EXPORTER_DISABLE_DEFAULT_METRICS=false
PG_EXPORTER_DISABLE_SETTINGS_METRICS=false
PG_EXPORTER_AUTO_DISCOVER_DATABASES=true
PG_EXPORTER_INCLUDE_DATABASES=initstack_db,sonarqube_db
