REDIS_ADDR=redis://initstack-redis-service:6379
REDIS_USER=z2yju1mD0GQxgV6Z
REDIS_PASSWORD=Bv3cX8nM1qW6eR9t

REDIS_EXPORTER_WEB_LISTEN_ADDRESS=0.0.0.0:9121
REDIS_EXPORTER_WEB_TELEMETRY_PATH=/metrics
REDIS_EXPORTER_NAMESPACE=redis

REDIS_EXPORTER_CONNECTION_TIMEOUT=15s
REDIS_EXPORTER_LOG_LEVEL=info
REDIS_EXPORTER_LOG_FORMAT=txt
REDIS_EXPORTER_DEBUG=false

REDIS_EXPORTER_REDIS_ONLY_METRICS=false
REDIS_EXPORTER_INCLUDE_GO_RUNTIME_METRICS=false
REDIS_EXPORTER_INCLUDE_CONFIG_METRICS=false
REDIS_EXPORTER_INCLUDE_SYSTEM_METRICS=false
REDIS_EXPORTER_INCLUDE_MODULES_METRICS=false
REDIS_EXPORTER_CHECK_KEYS_BATCH_SIZE=1000
