APM_SERVER_HOST=0.0.0.0
APM_SERVER_PORT=8200
APM_SERVER_NAME=initstack-apm-server
APM_SERVER_SECRET_TOKEN=Kx9mP2nQ7wR5tY8u
APM_SERVER_API_KEY_ENABLED=true
APM_SERVER_API_KEY_LIMIT=100
APM_SERVER_MAX_EVENT_SIZE=307200
APM_SERVER_MAX_HEADER_SIZE=1048576
APM_SERVER_READ_TIMEOUT=30s
APM_SERVER_WRITE_TIMEOUT=30s
APM_SERVER_SHUTDOWN_TIMEOUT=30s
APM_SERVER_MAX_CONNECTIONS=0
APM_SERVER_RESPONSE_HEADERS_ENABLED=true
APM_SERVER_EXPVAR_ENABLED=false
APM_SERVER_PPROF_ENABLED=false

ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=Mx7nQ4wR8vK2sL9p
ELASTICSEARCH_PROTOCOL=http
ELASTICSEARCH_TIMEOUT=90s
ELASTICSEARCH_MAX_RETRIES=3
ELASTICSEARCH_BACKOFF_INIT=1s
ELASTICSEARCH_BACKOFF_MAX=60s

KIBANA_HOST=http://initstack-kibana-service:5601
KIBANA_USERNAME=elastic
KIBANA_PASSWORD=Mx7nQ4wR8vK2sL9p
KIBANA_PROTOCOL=http
KIBANA_PATH=/
KIBANA_SPACE_ID=default

SETUP_KIBANA_ENABLED=true
SETUP_DASHBOARDS_ENABLED=true
SETUP_TEMPLATE_ENABLED=true
SETUP_ILM_ENABLED=true
SETUP_ILM_ROLLOVER_ALIAS=apm
SETUP_ILM_PATTERN=apm-*
SETUP_ILM_POLICY=apm-rollover-30-days

MONITORING_ENABLED=true
MONITORING_ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
MONITORING_ELASTICSEARCH_USERNAME=elastic
MONITORING_ELASTICSEARCH_PASSWORD=Mx7nQ4wR8vK2sL9p

LOGGING_LEVEL=info
LOGGING_TO_FILES=false
LOGGING_TO_SYSLOG=false
LOGGING_JSON=true
LOGGING_METRICS_ENABLED=true
LOGGING_METRICS_PERIOD=30s

HTTP_ENABLED=true
HTTP_HOST=0.0.0.0
HTTP_PORT=5068

INSTRUMENTATION_ENABLED=true
INSTRUMENTATION_ENVIRONMENT=development
INSTRUMENTATION_HOSTS=http://initstack-apm-service:8200

QUEUE_MEM_EVENTS=4096
QUEUE_MEM_FLUSH_MIN_EVENTS=1600
QUEUE_MEM_FLUSH_TIMEOUT=1s

OUTPUT_ELASTICSEARCH_ENABLED=true
OUTPUT_ELASTICSEARCH_HOSTS=http://initstack-elasticsearch-service:9200
OUTPUT_ELASTICSEARCH_USERNAME=elastic
OUTPUT_ELASTICSEARCH_PASSWORD=Mx7nQ4wR8vK2sL9p
OUTPUT_ELASTICSEARCH_PROTOCOL=http
OUTPUT_ELASTICSEARCH_TIMEOUT=90s
OUTPUT_ELASTICSEARCH_MAX_RETRIES=3
OUTPUT_ELASTICSEARCH_BACKOFF_INIT=1s
OUTPUT_ELASTICSEARCH_BACKOFF_MAX=60s
OUTPUT_ELASTICSEARCH_BULK_MAX_SIZE=50
OUTPUT_ELASTICSEARCH_WORKER=1
OUTPUT_ELASTICSEARCH_TEMPLATE_ENABLED=true
OUTPUT_ELASTICSEARCH_TEMPLATE_PATTERN=apm-*
OUTPUT_ELASTICSEARCH_TEMPLATE_SETTINGS_INDEX_NUMBER_OF_SHARDS=1
OUTPUT_ELASTICSEARCH_TEMPLATE_SETTINGS_INDEX_NUMBER_OF_REPLICAS=0
OUTPUT_ELASTICSEARCH_TEMPLATE_SETTINGS_INDEX_CODEC=best_compression
