SONAR_JDBC_URL=jdbc:postgresql://initstack-postgres-service:5432/sonarqube_db
SONAR_JDBC_USERNAME=Kx9mP2nQ7vR8sT4w
SONAR_JDBC_PASSWORD=Zy3kL6mN9pQ2rS5v
SONAR_WEB_HOST=0.0.0.0
SONAR_WEB_PORT=9000
SONAR_WEB_CONTEXT=/
SONAR_CE_JAVAOPTS=-Xmx2g -Xms1g -XX:+HeapDumpOnOutOfMemoryError
SONAR_WEB_JAVAOPTS=-Xmx2g -Xms1g -XX:+HeapDumpOnOutOfMemoryError
SONAR_SEARCH_JAVAOPTS=-Xmx1g -Xms1g -XX:MaxDirectMemorySize=256m -XX:+HeapDumpOnOutOfMemoryError
SONAR_LOG_LEVEL=INFO
SONAR_PATH_DATA=/opt/sonarqube/data
SONAR_PATH_LOGS=/opt/sonarqube/logs
SONAR_PATH_TEMP=/opt/sonarqube/temp
