POSTGRES_USER=Kx9mP2nQ7vR8sT4w
POSTGRES_PASSWORD=Zy3kL6mN9pQ2rS5v
POSTGRES_DB=initstack_db
POSTGRES_HOST_AUTH_METHOD=scram-sha-256
POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256 --data-checksums
PGDATA=/var/lib/postgresql/18/docker
