MINIO_ROOT_USER=Kx9mP2nQ7wR5tY8u
MINIO_ROOT_PASSWORD=Bv3cX8nM1qW6eR9tHj6kN4mB8vC1sF7q

MINIO_BROWSER=on
MINIO_DOMAIN=initstack-minio-service

MINIO_SERVER_URL=http://initstack-minio-service:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

MINIO_PROMETHEUS_AUTH_TYPE=public
