ELASTIC_PASSWORD=Mx7nQ4wR8vK2sL9p
ELASTIC_USERNAME=elastic
ES_JAVA_OPTS=-Xms1g -Xmx1g
DISCOVERY_TYPE=single-node
CLUSTER_NAME=initstack-cluster
NODE_NAME=initstack-elasticsearch-node
NETWORK_HOST=0.0.0.0
HTTP_PORT=9200
TRANSPORT_PORT=9300
BOOTSTRAP_MEMORY_LOCK=true
XPACK_SECURITY_ENABLED=true
XPACK_SECURITY_ENROLLMENT_ENABLED=false
XPACK_SECURITY_HTTP_SSL_ENABLED=false
XPACK_SECURITY_TRANSPORT_SSL_ENABLED=false
XPACK_ML_ENABLED=false
XPACK_MONITORING_COLLECTION_ENABLED=true
ACTION_DESTRUCTIVE_REQUIRES_NAME=true
