ES_URI=http://elastic:Mx7nQ4wR8vK2sL9p@initstack-elasticsearch-service:9200
ES_USERNAME=elastic
ES_PASSWORD=Mx7nQ4wR8vK2sL9p
ES_TIMEOUT=30s
ES_ALL=true
ES_INDICES=true
ES_INDICES_SETTINGS=true
ES_INDICES_MAPPINGS=false
ES_SHARDS=false
ES_ALIASES=true
ES_ILM=false
ES_SLM=false
ES_DATA_STREAM=false
ES_SSL_SKIP_VERIFY=false
COLLECTOR_CLUSTERSETTINGS=true
COLLECTOR_SNAPSHOTS=false
COLLECTOR_HEALTH_REPORT=false
WEB_LISTEN_ADDRESS=:9114
WEB_TELEMETRY_PATH=/metrics
LOG_LEVEL=info
LOG_FORMAT=logfmt
LOG_OUTPUT=stdout
