CELERY_BROKER_URL=amqp://Qw8rT5nM3xZ9pL2v:Hj6kN4mB8vC1sF7q@initstack-rabbitmq-service:5672/initstack_vhost
CELERY_RESULT_BACKEND=elasticsearch://elastic:Mx7nQ4wR8vK2sL9p@initstack-elasticsearch-service:9200

FLOWER_PORT=5555
FLOWER_ADDRESS=0.0.0.0
FLOWER_LOG_LEVEL=INFO

FLOWER_BASIC_AUTH=admin:Zx7kP9mN3qW8rT5yHj2vB6nC4sF1dG8a
FLOWER_URL_PREFIX=
FLOWER_MAX_TASKS=10000
FLOWER_PERSISTENT=true
FLOWER_DB=/var/lib/flower/flower.db

FLOWER_ENABLE_EVENTS=true
FLOWER_AUTO_REFRESH=true
FLOWER_REFRESH_INTERVAL=5000

ELASTICSEARCH_INDEX_PREFIX=celery
ELASTICSEARCH_DOC_TYPE=_doc
